@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Parisienne&display=swap');
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
  font-family: 'Comfortaa';
}

.seafoam {
  color: #00afac !important;
}

.seafoam-bg {
  background-color: #00afac !important;
}

.animate-to-seafoam {
  transition: color 1s;
}

.animate-to-seafoam:hover {
  color: #00afac !important;
}

.parisienne {
  font-family: 'Parisienne';
}

.menu-link-t {
  font-family: 'Comfortaa';
}

.text-center {
  text-align: center;
}

.sidenav-trigger {
  color: #61dedb;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

.footer-links-section {
  margin-left: 50vw;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .footer-links-section {
    margin-left: unset;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
